@mixin app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-button-toggle-checked {
    background-color: mat-color($accent) !important;
    color: mat-color($accent, default-contrast) !important;
  }
}
