.panelClass {
  display: flex !important;
  flex-direction: column !important;
  max-height: 95% !important;
  width: 95% !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.red {
  color: red;
}
