<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <mat-divider></mat-divider>
  <div>
    <p>Bedroom Device:
      <strong>{{bedroomStatus && bedroomStatus.websocket ? bedroomStatus.websocket : 'Disconnected'}}</strong></p>
  </div>
  <div *ngIf="bedroomStatus && bedroomStatus.websocket && bedroomStatus.websocket==='disconnected'">
    <p>Power outage or Device's internet connection is lost. Please wait until device is back online.</p>
  </div>
  <div *ngIf="bedroomStatus && bedroomStatus.websocket && bedroomStatus.websocket==='connected'">
    <div class="m-t-10 m-b-10">
      <label><strong>Tube Light : <span
        class="text-uppercase">{{bedroomStatus && bedroomStatus.light2 ? 'ON' : 'OFF'}}</span></strong></label>
      <div>
        <mat-button-toggle-group>
          <mat-button-toggle value="true" [checked]="bedroomStatus && bedroomStatus.light2===true"
                             [disabled]="bedroomStatus && bedroomStatus.light2===true" (click)="changeLightMode(2,true)">
            ON
          </mat-button-toggle>
          <mat-button-toggle value="false" [checked]="bedroomStatus && bedroomStatus.light2===false"
                             [disabled]="bedroomStatus && bedroomStatus.light2===false" (click)="changeLightMode(2, false)">
            OFF
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="m-t-10 m-b-10">
      <label><strong>Fan : <span
        class="text-uppercase">{{bedroomStatus && bedroomStatus.fan ? 'ON' : 'OFF'}}</span></strong></label>
      <div>
        <mat-button-toggle-group>
          <mat-button-toggle value="true" [checked]="bedroomStatus && bedroomStatus.fan===true"
                             [disabled]="bedroomStatus && bedroomStatus.light3===true" (click)="changeLightMode(4,true)">
            ON
          </mat-button-toggle>
          <mat-button-toggle value="false" [checked]="bedroomStatus && bedroomStatus.fan===false"
                             [disabled]="bedroomStatus && bedroomStatus.fan===false" (click)="changeLightMode(4, false)">
            OFF
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
