@import './theme';
@import '../src/styles/general';
@import '../src/styles/typography';
@import '../src/styles/scrollbars';
@import '../src/styles/forms';

app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}



@media (max-width: 720px) {
  app-root {
    top: 0;
  }
}


.list {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow-x: auto;
}

.list-wrapper {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  .list-table {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow-x: auto;
  }
}
